{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://cdn.maptiler.com/maptiler-sdk-js/v1.2.0/maptiler-sdk.umd.js"></script>
    <link href="https://cdn.maptiler.com/maptiler-sdk-js/v1.2.0/maptiler-sdk.css" rel="stylesheet" />
    <script src="https://cdn.maptiler.com/leaflet-maptilersdk/v2.0.0/leaflet-maptilersdk.js"></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<body class="flex">
    <div id="map_details" class="border flex-1">
        <div class="h-full w-full" id="map"></div>
        <div id="details" class="border h-max">
            <div id="city_name">
                All Events
            </div>
        </div>
    </div>
    <div id="campaigns" class="border w-1/3">
        <div id="city_name_2">All Campaigns</div>
        <div>Campaigns</div>
        <div id="campaigns_list">
            {% for campaign in campaigns %}
                <div>{{campaign.title}}</div>
            {% empty %}
                <div>None</div>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
            <button id="start_campaign_button" onclick="start_campaign()">Start Campaign</button>
            <div>Signed in as {{user.username}}</div>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <button id="start_campaign_button" onclick="login_view()">Login</button>
        {% endif %}
        {{error}}
    </div>

    <div id="start_campaign" class="hidden fixed h-full w-full flex justify-center items-center">
        <form action="{% url 'default_view'%}" class="flex flex-col gap-3" method="post">
            {% csrf_token %}
            Start a Campaign
            <input type="hidden" name="form_source" value="start_campaign">
            <div>
                title<input type="text" name="title">
            </div>
            <div>
                description<textarea name="description"></textarea>
            </div>
            <div>
                target<input type="text" name="target">
            </div>
            <div>
                location<input type="text" name="location">
            </div>
            <div>
                date<input type="datetime-local" name="date">
            </div>
            <div>
                Contant No. <input type="number" name="contact_no">
            </div>
            <div>
                Chat room Link <input type="url" name="chat_room">
            </div>
            <button type="submit">Submit</button>
            <button type="button" onclick="cancel_create_campaign()">Cancel</button>
        </form>
    </div>

    <div id="login_view" class="hidden fixed h-full w-full flex justify-center items-center">
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="form_source" value="login">
            <div>
                username<input type="text" name="username">
            </div>
            <div>
                password<input type="password" name="password">
            </div>
            <input type="submit">
        </form>
        <div>Don't have an account? <button onclick="register_view()">Register here</button></div>
    </div>

    <div id="register_view" class="hidden fixed h-full w-full flex justify-center items-center">
        <form action="" method="post" name="">
            {% csrf_token %}
            <input type="hidden" name="form_source" value="register">

            <div>
                username<input type="text" name="username">
            </div>
            <div>
                email<input type="email" name="email">
            </div>
            <div>
                password<input type="password" name="password">
            </div>
            <div>
                confirm password<input type="password" name="confirmation">
            </div>
            <input type="submit">
        </form>
        <div>Already have an account? <button onclick="login_view()">Login here</button></div>
    </div>

    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>

<script>
    maptilersdk.config.apiKey = '9cfqlXmXBJySAgiNxGqW';
    
    const map = new maptilersdk.Map({
      container: 'map', // container's id or the HTML element to render the map
      style: "4d74ac5d-834a-4ed1-9f67-cded0fc92361",
      center: [85.25, 27.7], // starting position [lng, lat]
      zoom: 12
    });

    map.on('style.load', function () {
        fetch('/static/json/kirtipurPoly.json')
            .then(response => response.json())
            .then(data => {
                map.addlayer({
                    'id': 'kirtipurPoly',
                    'type': 'fill',
                    'source': {
                        'type': 'geojson',
                        'data': data
                    },
                    'layout': {},
                    'paint': {
                        'fill-color': '#00ffff',
                        'fill-opacity': 0.8
                    }
                });
            })
    .catch(error => console.error('Error loading GeoJSON:', error));
});


</script>